.normal-mode-cursor {
  background-color: black;
  color: white;

  /* animation: cursor-animation 1s linear infinite;
  animation-timing-function: steps(2, jump-none); */
}

@keyframes cursor-animation {
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

.empty-space::before {
  content: ' ';
}

.title {
  color: #389edb;
}
